.parent {
  margin-left: 10px;
  width: auto;
  height: 58px;
  display: flex;
}

.offlineduvet {
  padding-right: 10%;
  display: flex;
  color: white;
  background-color: rgba(255, 0, 0, 0.688);
  padding-bottom: 5px;
  border-radius: 10px;

}

.text2 {
  text-align: left;
  font-size: 15px;
  padding-left: 5px;
}

.bild2 {
  display: flex-end;
  width: 30px;
  height: fit-content;
  margin-top: 10px;
  margin-right: 0px;
}