* {
    box-sizing: border-box;
  }
  
  #player {
    width: 320px;
    height: 240px;
  }
  
  
  #player, #canvas {
    transform: scale(-1, 1);
  }
  
  #canvas, #new-capture-btn {
    display: none;
  }
  
  img{
    max-width:500px;
    height: auto;
  }