@import "../node_modules/bootstrap/scss/bootstrap";

body {
  padding-top:200px;
  min-height: 900px;
  background-image: linear-gradient(290deg, #fd8003,#504aa3, #8a1253);
 

}

.navbarColor{
    
  min-height: 100px;
   background-color:rgba(102, 10, 59, 0.7); 
  box-shadow: 0px 0px 5px whitesmoke;
  
}
.textFooter{
  min-height: 100px;
  background-color:rgba(102, 10, 59, 0.7);
  box-shadow: 0px 0px 5px whitesmoke;
  display: block;
  position: relative;
  text-align: center;
  margin-top: 100px;
  color: white;
 

}
.Link{
  color: white;
  text-decoration: none;
  margin-right: 40px;
  
}

.Icon{
  margin-bottom: 10px;

}


span{
  color: white;
}

.product {
  cursor: pointer;
  margin-bottom: 40px;
}

h1 {
  margin-bottom: 40px;
}

.card h3 {
  margin-top: 20px;
}

input,
label {
  width: 100%;
}

.active{
  color:orange;
}
